<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/@pdftron/webviewer@7.3.0/webviewer.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="style-ni-home.css">

    <title>AdminHub</title>
</head>

<body>
    <div class="loader-container">
        <div class="typewriter">
            <div class="slide"><i></i></div>
            <div class="paper"></div>
            <div class="keyboard"></div>
        </div>
    </div>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <span class="overlay"></span>
        <div class="modal-box">
            <h2>Confirmation</h2>
            <h3>Are you sure you want to logout?</h3>

            <div class="buttons">
                <a class="close-btn">Cancel</a>
                <a class="logout-btn">
                    <i class='bx bx-log-out'></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>
        <a href="home_reviewer" class="brand">
            <i class='bx bxs-file-find'></i>
            <span class="text">SLU</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="home_reviewer">
                    <i class='bx bxs-home'></i>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="active">
                <a href="review_doc">
                    <i class='bx bx-upload'></i>
                    <span class="text">Review Queue</span>
                </a>
            </li>
            <li>
                <a href="my_review">
                    <i class='bx bxs-file-doc'></i>
                    <span class="text">My Reviews</span>
                </a>
            </li>
            <li>
                <a href="reviewer_profile">
                    <i class='bx bxs-face'></i>
                    <span class="text">Profile</span>
                </a>
            </li>
        </ul>

        <ul class="side-menu">
            <li>
                <a href="logout" class="logout">
                    <i class='bx bx-log-out'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>

    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#"></form>
            <a href="#" class="profile">
                <img src="img/user-img.jpg">
            </a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Review Queue</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Review Queue</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>For Review</h3>
                        <a href="my_sort_asc" class="sort-btn" id="sort-asc-queue">
                            <i class='bx bx-sort-down'></i>
                            <span class="text">Sort Oldest</span>
                        </a>
                        <a href="my_sort_desc" class="sort-btn" id="sort-desc-queue">
                            <i class='bx bx-sort-up'></i>
                            <span class="text">Sort Newest</span>
                        </a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Document Title</th>
                                <th>Pages</th>
                                <th>Referral Date</th>
                                <th>Status</th>
                                <th>Review Document</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <% data.forEach((row) => { %>
                                <tr>
                                    <td>
                                        <span><%= row.document_ID %></span>
                                    </td>
                                    <td>
                                        <span><%= row.user_ID %></span>
                                    </td>
                                    <td>
                                        <span class="text"><%= row.document_Title %></span>
                                    </td>
                                    <td>
                                        <span><%= row.pages %></span>
                                    </td>
                                    <td>
                                        <span class="status pending">Pending</span>
                                    </td>
                                    <td>
                                        <a class="review-btn" data-document-id="<%= row.document_ID %>">Review</a>
                                        <div id="viewer_<%= row.document_ID %>" class="pdf-viewer-container"></div>
                                    </td>
                                  </td>
                                </tr>
                            <% }); %> -->

                            <% data.forEach((row) => { %>
                                <tr>
                                    <td>
                                        <p><%= row.first_Name + ' ' + row.middle_Name.charAt(0) + '. ' + row.last_Name %></p>
                                    </td>
                                    <td>
                                        <span class="text"><%= row.document_Title %></span>
                                    </td>
                                    <td>
                                        <span><%= row.pages %></span>
                                    </td>
                                    <td>
                                        <span><%= row.referral_Date %></span>
                                    </td>
                                    <td>
                                        <span class="status pending"><%= row.document_status %></span>
                                    </td>
                                    <td>
                                        <a class="review-btn" data-document-id="<%= row.document_ID %>">Review</a>
                                        <div id="viewer_<%= row.document_ID %>" class="pdf-viewer-container"></div>
                                    </td>
                                  </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->
    <script src="/script.js"></script>
</body>

</html>